@import "variables";
@import "mixins";

.section {
  max-width: $breakpoint-large-desktop;
  margin: 0 auto;

  &__header {
    @include center-flex($justify: space-between);
    margin-block: 2rem;
  }

  &__title {
    text-wrap: nowrap;
    margin: 0;
  }

  .section__footer {
    justify-self: center;
  }

  @media screen and (max-width: $breakpoint-small-desktop) {
    &__title {
      text-wrap: wrap;
    }

    &__header {
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: flex-end;

      .section__title {
        flex-basis: 100%;
        order: 2;
      }

      app-searchbar {
        flex: 1;
      }
    }
  }
}

.card {
  @include center-flex($justify: space-between);
  background-color: $card-bg-color-light;
  margin-block-end: 1rem;
  padding: 2.5rem 0.5rem 2.5rem 2rem;

  &.even {
    background-color: $card-bg-color-dark;
  }

  &__description {
    @include center-flex(column);
    align-items: flex-start;
    margin: 0;

    strong {
      font-weight: normal;
    }

    small {
      color: #49454f;
    }
  }
}

// TODO: mudar estilos globalmente ou criar um componente customizado para notificações
::ng-deep .custom-snackbar {
  border-radius: 1.2rem;
  margin: 2.5rem 4.5rem !important;
  white-space: pre-line;
  width: 35rem;

  .mat-mdc-simple-snack-bar {
    flex-direction: column;
    padding-block: 1.4rem;
  }

  .mdc-button__label {
    color: #65558f;
    padding: 1.4rem;
  }

  --mdc-snackbar-container-color: #f3edf7;
  --mdc-snackbar-supporting-text-color: #65558f;
  --mat-snack-bar-button-color: #00000043;
}
