@import "variables";

.material-select__field {
  width: 100%;
}

.label {
  background-color: $input-label-color;
}

.mat-mdc-select-trigger .mat-mdc-select-value .mat-mdc-select-placeholder {
  color: $input-placeholder-color;
}
