@import "mixins";
@import "variables";

.nav-container {
  align-self: start;
  justify-self: start;
  gap: 1rem;

  app-return-button {
    margin-left: -1.5rem;
  }
}

.wrapper {
  max-width: $breakpoint-large-desktop;
  margin: 0 auto;
}

.section {
  margin: 0 auto;
  max-width: 55rem;

  &__title {
    font-size: 2rem;
    line-height: 1.6;
    margin-block: 2rem 0;
  }

  &__description {
    margin-block-end: 2rem;
  }

  .form {
    @include center-flex(column);
    align-items: stretch;
    gap: 1rem;
    width: 100%;

    &__btn {
      max-width: 27rem;
      margin: 1.5rem auto 4rem auto;
      width: 100%;
    }
  }
}

// TODO: mudar estilos globalmente ou criar um componente customizado para notificações
::ng-deep .custom-snackbar {
  border-radius: 1.2rem;
  margin: 2.5rem 4.5rem !important;
  white-space: pre-line;
  width: 35rem;

  .mat-mdc-simple-snack-bar {
    flex-direction: column;
    padding-block: 1.4rem;
  }

  .mdc-button__label {
    color: #65558f;
    padding: 1.4rem;
  }

  --mdc-snackbar-container-color: #f3edf7;
  --mdc-snackbar-supporting-text-color: #65558f;
  --mat-snack-bar-button-color: #00000043;
}
