<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu de opções">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before" class="menu">
  <button mat-menu-item class="menu__button" (click)="onEdit()">
    <mat-icon class="material-icons-outlined">edit</mat-icon>
    <span>Editar</span>
  </button>
  <button mat-menu-item class="menu__button" (click)="onDelete()">
    <mat-icon class="material-icons-outlined">delete</mat-icon>
    <span>Excluir</span>
  </button>
</mat-menu>
